@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e9eaee;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7f8591;
  cursor: pointer;
}

body {
  @apply text-gray-500;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

.card {
  @apply bg-white rounded-lg shadow;
}

.text-box {
  @apply bg-white border outline-none px-3 py-1 rounded shadow-sm;
}

select {
  @apply outline-none
}

textarea {
  @apply bg-white border outline-none px-3 py-2 rounded shadow-sm;
}

.white-button {
  @apply bg-white border border-gray-300 hover:bg-gray-100 px-2 py-0.5 rounded shadow-sm;
}